.ola-conteiner{
    color: #ce1f3a;
    margin-left: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo-home{
    width: 20%;
    
    
}

.conteiner-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-fofoca{
    display: flex;
    flex-direction: row;
    width: 70%;
    font-size: 30px;
    color: #e96a7e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}