.navbar-Header{
    display: flex;
    background-color: #e23e57;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;

}

.imagem-logo{
    align-items: center;
    margin-right: 20%;
}

.imagem-logo:hover{
    transform: scale(1.05);
    transition: 0.05s;
}

.Logo-navbar{
    display: flex;
    padding: 8px;
    border-radius: 100%;
    width: 50%;
}

.Botao-navbar{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-right: 14%;
    
}


