.navbar-Header{
    display: flex;
    flex-direction: row;
    background-color: #e23e57;
    justify-content: space-between;
    height: 78%;
    width: 100%;
    padding: 4px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;

}


.Logo-navbar{
    display: flex;
    flex-direction: row;
    padding: 9px;
    width: 35%;
}

.conteiner-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e23e57;
    width: 100%;
    height: 74%;
}

.logo-footer{
    display: flex;
    padding: 9px;
    border-radius: 100%;
    width: 4%;
}